apiVersion: v1
kind: Service
metadata:
  name: my-app
  namespace: dev
spec:
  type: LoadBalancer   # <- ici
  selector:
    app: gitops-demo-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
